#explore_menu {
  margin: 50px 0 40px;
}
.explore_menu_heading h2 {
  color: rgb(38, 38, 38);
  font-weight: 500;
  font-size: 30px;
}
.explore_menu_heading p {
  max-width: 60%;
  font-size: 17px;
  color: gray;
  margin-top: 20px;
  line-height: 130%;
}
.explore_menu_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin-top: 40px;
  overflow-x: auto;
  padding-bottom: 40px;
  border-bottom: 2px solid #e2e2e2;
}
.explore_menu_list::-webkit-scrollbar {
  display: none;
}
.explore_menu_item {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  cursor: pointer;
}
.menu_item_img {
  width: 125px;
  border-radius: 50%;
  overflow: none;
}
.menu_item_img.active {
  border: 4px solid tomato;
  padding: 2px;
}
.explore_menu_item h5 {
  color: rgb(116, 116, 116);
  font-size: 16px;
}

@media (max-width: 575px) {
  .explore_menu_heading h2 {
    font-size: 25px;
  }
  .explore_menu_heading p {
    max-width: 85%;
    font-size: 16px;
  }
  .explore_menu_list {
    gap: 25px;
    margin-top: 30px;
  }
  .menu_item_img {
    width: 80px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .explore_menu_heading h2 {
    font-size: 28px;
  }
  .explore_menu_heading p {
    max-width: 90%;
  }
  .explore_menu_list {
    gap: 35px;
    margin-top: 40px;
  }
  .menu_item_img {
    width: 90px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .explore_menu_heading p {
    max-width: 70%;
  }
  .menu_item_img {
    width: 100px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .menu_item_img {
    width: 110px;
  }
}
