.verify{
    min-height: 60vh;
    display: grid;
}
.verify > .loading{
    width: 80px;
    height: 80px;
    place-self: center;
    border: 5px solid #bdbdbd;
    border-radius: 50%;
    border-top-color: tomato;
    animation: rotate 1s infinite;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    } 100% {
        transform: rotate(360deg);
    }
}