.banner_wrapper{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
}
.banner_content{
    padding: 200px 60px 60px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
    color: #fff; 
    animation: fadeIn 3s;
}
.banner_content h1{
    font-weight: 500;
    font-size: 68px;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
}
.banner_content p{
    max-width: 78%;
    font-size: max(1vw, 16px);
    margin: 0;
}
.banner_content button{
    color: #747474;
    background-color: white;
    border-radius: 50px;
    padding: 16px 33px;
    font-size: max(1vw, 16px);
    transition: all linear 0.3s;
}
.banner_content button:hover{
    background-color: #ded6d5;
}

@media (max-width: 575px){
    .banner_content {
        padding: 50px 20px;
        gap: 20px;
    }
    .banner_content h1 {
        font-size: 28px;
        line-height: 140%;
    }
    .banner_content p{
        display: none;
    }
    .banner_content button{
        padding: 12px 20px;
    }
}
@media (min-width: 576px) and (max-width: 767px){
    .banner_content {
        padding: 60px 40px;
        gap: 20px;
    }
    .banner_content h1 {
        font-size: 35px;
    }
    .banner_content p {
        max-width: 100%;
    }
    .banner_content button{
        padding: 14px 28px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .banner_content {
        padding: 100px 60px 60px;
        gap: 20px;
    }
    .banner_content h1 {
        font-size: 45px;
    }
    .banner_content p {
        max-width: 100%;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .banner_content {
        padding: 150px 60px 60px;
    }
    .banner_content h1 {
        font-size: 55px;
    }
    .banner_content p {
        max-width: 80%;
    }
}